<?xml version="1.0"?>
<!DOCTYPE suppressions PUBLIC
        "-//Checkstyle//DTD SuppressionXpathFilter Experimental Configuration 1.2//EN"
        "https://checkstyle.org/dtds/suppressions_1_2_xpath_experimental.dtd">

<suppressions>
    <!-- suppress the rule "ParameterNumber" for Spring Data repositories -->
    <suppress-xpath checks="ParameterNumber"
                    query="//INTERFACE_DEF[./MODIFIERS[./ANNOTATION[./IDENT[@text = 'Repository']]]]//*"/>
</suppressions>
